*{
    margin: 0;
    padding: 0;
}
    body{
        display: flex;
        height: 100vh;
        align-items: center;
        justify-content: center;
    }

    .container{
        border: 2px solid #333;
    }

    .color{
        display: table-cell;
        width: 200px;
        height: 200px;
        margin: 0 1px;
        cursor: pointer;
        border: 2px solid #fff;
    }

    .clr1{
        background-color: pink;
    }

    .clr2{
        background-color: purple;
    }

    .clr3{
        background-color: red;
    }

    .clr4{
        background-color: skyblue;
    }